@import url("https://fonts.googleapis.com/css?family=Lily+Script+One|Roboto:300,300i,400,400i,700,700i,900");
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #4f5a65;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 50px;
}

a {
  color: #e73c4e;
  text-decoration: none;
  border-bottom: 1px transparent solid;
  transition: 0.3s;
}
a:hover {
  border-bottom: 1px #e73c4e solid;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-family: 'Lily Script One', cursive;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  margin-bottom: 0;
}

#links-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: 30px -15px;
}
#links-list li {
  width: calc(33.33% - 30px);
  padding: 20px;
  margin: 0 15px 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
#links-list li:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#links-list li h3 {
  margin: 0;
}
#links-list li .description {
  margin-top: 0;
}

label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="tel"],
textarea {
  border: 1px #4f5a65 solid;
  background-color: white;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
  width: 100%;
}

textarea {
  height: 150px;
  padding: 10px;
}

.form-row {
  margin-bottom: 1em;
}

input[type="submit"] {
  height: 40px;
  background-color: #e73c4e;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 10px;
  min-width: 100px;
  font-weight: 300;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(0);
  transition: box-shadow 0.5s, transform 0.5s;
}

input[type="submit"]:hover {
  transform: translateY(-2px);
}
