/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Roboto:300,300i,400,400i,700,700i,900');

 $foreground: #4f5a65;
 $background: #f5f5f5;
 $link: #e73c4e;

 * {
   box-sizing: border-box;
 }

 body {
   background-color: $background;
   color: $foreground;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   margin: 0;
 }

 a {
   color: $link;
   text-decoration: none;
   border-bottom: 1px transparent solid;
   transition: 0.3s;

   &:hover {
     border-bottom: 1px $link solid;
   }
 }

 h1 {
   font-size: 64px;
   line-height: 64px;
   font-family: 'Lily Script One', cursive;
   font-weight: normal;
 }

 h2 {
   font-size: 24px;
   line-height: 36px;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: 900;
 }

 h3 {
   font-size: 20px;
 }

 h4 {
   font-size: 16px;
   margin-bottom: 0;
 }

 header#header {
   text-align: center;
   margin-top: 50px;

   h1 a {
     color: $foreground;

     &:hover {
       border-bottom: 1px transparent solid;
     }
   }

   nav#navigation {
     ul {
       list-style: none;
       margin: 20px 0;
       padding: 0;

       li {
         display: inline-block;
         margin: 0 10px;
         a {
           text-transform: uppercase;
           font-weight: 700;
           letter-spacing: 2px;
         }
       }
     }
   }
 }

 main#main {
   max-width: 768px;
   padding: 0 20px;
   margin: 50px auto;
 }

 #links-list {
   list-style: none;
   padding: 0;
   display: flex;
   align-items: stretch;
   flex-wrap: wrap;
   width: calc(100% + 30px);
   margin: 30px -15px;

   li {
     width: calc(33.33% - 30px);
     padding: 20px;
     margin: 0 15px 30px;;
     border-radius: 5px;
     background-color: white;
     box-shadow: 0 0 15px rgba(black, 0.25);
     transition: 0.5s;

     &:hover {
       box-shadow: 0 0 15px rgba(black, 0.5);
     }

     h3 {
       margin: 0;
     }

     .description {
       margin-top: 0;
     }
   }
 }

 label {
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 900;
   display: block;
   letter-spacing: 3px;
   margin-bottom: 5px;
 }

 input[type="text"],
 input[type="email"],
 input[type="password"],
 input[type="search"],
 input[type="url"],
 input[type="tel"],
 textarea {
   border: 1px $foreground solid;
   background-color: white;
   height: 40px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   padding: 0 10px;
   width: 100%;
 }

 textarea {
   height: 150px;
   padding: 10px;
 }

 .form-row {
   margin-bottom: 1em;
 }

 input[type="submit"],
 .button {
   height: 40px;
   line-height: 40px;
   display: inline-block;
   text-align: center;
   background-color: $link;
   font-family: 'Roboto', sans-serif;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   padding: 0 10px;
   min-width: 100px;
   font-weight: 300;
   box-shadow: 0 2px 10px rgba(black, 0.25);
   transform: translateY(0);
   transition: box-shadow 0.5s, transform 0.5s;

   &:hover {
     transform: translateY(-2px);
   }

   &.link-button {
     height: auto;
     line-height: inherit;
     box-shadow: none;
     border-radius: 0;
     padding: 0;
     min-width: 0;
     transition: 0.5s;
     color: $link;
     background-color: transparent;
     font-weight: bold;
     text-transform: uppercase;
     border-bottom: 1px transparent solid;
     cursor: pointer;

     &:hover {
       transform: translate(0);
       border-bottom: 1px $link solid;
     }
   }
 }

 .button-row {
   margin: 20px 0;
   display: flex;
   align-items: center;

   &.center {
     justify-content: center;
   }
 }
